*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins" , sans-serif;
    
  
}
.navbar {
    z-index: 100;
}


@media (max-width:1500px) {
    #name {
        font-size: 3.5rem;
    }
    #surname {
        font-size: 3.5rem;
    }
}

@media (max-width:1190px) {
    #img {
        width: 40%;
    }
   
}

@media (max-width:1130px){
#name {
    font-size: 3rem;
}
#surname{
    font-size: 3rem;
}
#img {
    width: 60%;
}
}

  .media-page {
    z-index: 1;
    object-fit: cover; /* Ensures the image and video fill the container while maintaining aspect ratio */
  }

  .gallery-section {
    width: 50%;
    
  }

  .sliding-image {
    transition: opacity 0.5s ease-in-out;
    width: 90%;

  }
  .video-embed {
    width: 50%;
  }
  
  .video-controls {
    display: block;
    justify-content: center;
    align-items: center;
    
  }
  
  .arrow-btn {

    color: white;
    padding: 10px;
    font-size: 24px;
    border: none;
    cursor: pointer;
  }
  .media-item {
    width: 45vw;
    height: 400px;
  }
  
  
 
  

@media (max-width:912px) {
    #home-container {
        height: 100%;
    }
    #name{
        font-size: 2.2rem;
        padding-top: 1rem;
    }
    #surname{
        font-size: 2.2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    #img{
        width: 90%;
        margin-top: 4rem;
    }
}

@media (max-width:790px){
    #name {
        font-size: 2rem;
    }
    #surname {
        font-size: 2rem;
    }
}

@media (max-width:768px){
    .gallery-section {
        width: 100%;
    }
    .sliding-image {
        width:100vw;
    }

    .video-embed {
        width: 100%;
    }
    .media-item {
        width: 100%;
    }
}
@media (max-width:400px) {
    #name {
        font-size: 1.8rem;
    }
    #surname {
        font-size: 1.8rem;
    }
    FaYoutube {
        font-size: 50px;
    }
}
@media (max-width:350px){
    #name {
        font-size: 1.6rem;
    }
    #surname {
        font-size: 1.6rem;
    }
}

