*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins" , sans-serif;
    
  
}
.navbar {
    z-index: 100;
}
.media-page {
    z-index: 1;
    object-fit: cover; 
  }
.gallery-section {
    width: 50%;
}
iframe{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.video-controls {
    display: block;
    justify-content: center;
    align-items: center;
}
.arrow-btn {
    color: white;
    padding: 10px;
    font-size: 24px;
    border: none;
    cursor: pointer;
  }
  .media-item {
    height: 400px;
    border-radius: 10px;
  }
  
  textarea{
    resize: none;
  }
@media (max-width:1500px) {
    #name {
        font-size: 3.5rem;
    }
    #surname {
        font-size: 3.5rem;
    }
}

@media (max-width:1190px) {
  
}

@media (max-width:1130px){
    #name {
    font-size: 3rem;
    }
    #surname{
    font-size: 3rem;
    }
    .media-item{
        height: 350px;
    }
  
}

@media (max-width:912px) {
    #home-container {
        height: 100%;
    }
    #name{
        font-size: 2.2rem;
        padding-top: 1rem;
    }
    #surname{
        font-size: 2.2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    #img {
        margin-top: 4rem;
    }
    .media-item{
        height: 300px;
    }
  
}

@media (max-width:790px){
    #name {
        font-size: 2rem;
    }
    #surname {
        font-size: 2rem;
    }
}


@media (max-width:768px){
    .gallery-section {
        width: 100%;
    }
    .sliding-image {
        width:100vw;

    }
   
    .media-item {
        width: auto;
        height: 60%;
        border-radius: 5px;
    }
    iframe{
        width: 100%;
        height: 400px;
        border-radius: 5px;
        
    }
}
@media (max-width:400px) {
    #text-content {
    margin-left: 2px;
    margin-right: 2px;
    }
    #name {
        font-size: 1.8rem;
    }
    #surname {
        font-size: 1.8rem;
    }
    FaYoutube {
        font-size: 50px;
    }
}
@media (max-width:350px){
    #name {
        font-size: 1.6rem;
    }
    #surname {
        font-size: 1.6rem;
    }
}

